{% extends 'base.html' %}
{% load static %}

{% block title %}
Seat Layout | {{ showtime }}
{% endblock %}

{% block style %}
<style>

    body {
        font-family: Arial, sans-serif;
        background-color: #f4f4f4;

    }

    main {
    text-align: center;
    }

    .seat-layout {
        display: grid;
        grid-template-columns: repeat(10, 1fr);
        grid-template-rows: repeat(10, 1fr);
        grid-gap: 1em;
        margin-top: 50px;
    }

    .container {
        max-width: 700px;
        height: 750px;
        margin: 100px auto;
        margin-top: 0;
        background-color: #fff;
        border-radius: 5px;
        padding: 20px;
    }

    .seat-label {
        font-weight: bold;
        margin-right: 0px;
        margin-top: 10px;
    }

    .seat {
        display: inline-block;
        width: 30px;
        height: 30px;
        border: 2px solid #00cc00;
        margin: 5px;
        margin-left: 0px;
        margin-right: 30px;
        border-radius: 5px;
        text-align: center;
        line-height: 30px;
        font-size: 14px;
        background-color: #fff;
    }

    .not-available {
        border-color: #ccc;
        color: #ccc;
        pointer-events: none;
    }

</style>
{% endblock %}


{% block content %}
    {% if messages %}
        {% for message in messages %}
        <div class="alert alert-{{ message.tags }}" role="alert">
            {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% endfor %}
    {% endif %}

    <h4 class="font-weight-bold m-5">{{ showtime }}</h4>
    <div class="container">
        <form id="myForm" method="post">
            {% csrf_token %}
            <div class="seat-layout">
            {% for seat in seats %}
                <div class="seat-label">
                    <label for="seat_{{ seat.id }}">{{ seat.number }}</label>
                </div>
                <div class="seat{% if not seat.is_available %} not-available {% endif %}">
                    <input type="checkbox" id="seat_{{ seat.id }}" name="selected_seats" value="{{ seat.id }}"
                           title="Available | Price: ₹{{ seat.price }}"
                        {% if not seat.is_available %} disabled{% endif %}>
                </div>
            {% endfor %}
            </div>
            <h6 class="cursive">Look this way for the screen view!</h6>
            <input type="submit" class="btn btn-primary btn-md" value="Proceed">
        </form>
    </div>
{% endblock %}
