{% extends 'base.html' %}
{% load static %}

{% block title %}
Sign Up | Cineticket
{% endblock %}

{% block style %}
<style>
    main {
        background-image: url({% static 'image/bg-signup.jpg' %});
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        width: 100%;
        height: 100vh;
    }

    .content {
        margin-top: 50px;
        color: #000;
        margin-left: 200px;
    }

    .my-form {
        background-color: white;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        max-width: 700px;
        max-height: 1000px;
        border: 1px;
        border-radius: 50px;
        box-shadow: 10px 10px 30px rgba(0,0,0,0.5);
        padding: 40px;
        padding-right: 60px;
    }
</style>
{% endblock %}


{% block content %}
<div class="container-fluid">
        <div class="row" style="margin-top: 0">
            <div class="col-5 bl">
                <div class="row">
                    <div class="col-10 content">

                        <form class="my-form" method="post">
                        <h2 class="font-weight-bold">Sign Up</h2><br>
                        {% csrf_token %}
                        {{ form.as_p }}
                        <input class="btn btn-success btn-lg" type="submit" value="Create Account">
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-7 bg">
            </div>
        </div>
</div>
{% endblock %}